body {
	background-color: rgb(0, 0, 40);
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
	font-weight: 300;
	text-align: center;
}

#title {
	display: flex;
	justify-content: center;
}

h3,
h5 {
	font-family: "SF Mono", Menlo, "Courier New", monospace;
	font-weight: 300;
	text-align: center;
	letter-spacing: 0px;
}

#textarea-div {
	padding: 10px 10px 10px 20px;
	overflow-y: auto;
}

.textarea-item {
	display: flex;
	font-family: "SF Mono", Menlo, "Courier New", monospace;
	color: rgb(151, 151, 151);
}

.textarea-item p {
	width: 20px;
	text-align: right;
	margin: auto 0px;
	padding-right: 30px;
}

textarea {
	font-family: "SF Mono", Menlo, "Courier New", monospace;
	width: 100%;
	background-color: rgb(0, 0, 40);
	color: white;
	border: 0;
	margin: -2px 0px;
	resize: none;
}

#btn-test {
	margin: 30px;
	display: flex;
}

a,
button {
	color: white;
	background-color: rgb(63, 1, 179);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 14px;
	padding: 5px 30px;
	border: 1px solid white;
	transition: 0.3s all;
}

a:hover,
button:hover {
	cursor: pointer;
	background-color: white;
	color: black;
}
